.head{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        img{
            width: 10rem;
        }
    }
    &__menu{
        a{
            margin-left: 3rem;
            font-size: 1.3rem;
        }
    }

    &__item {
        text-decoration: none;
        text-transform: uppercase;
        &--current{
            background-color: yellow;
        }
    }

    &__button{
        background-color: #5fa7d6; 
        margin: 2rem; 
        padding: 1rem;
        border-radius: 12px;
        font-weight: bold;
    }


}

@media (width < 768px) {
    .head{
        position: relative;
        &__logo{
            display: none;
        }
        &__menu{
            position: absolute;
            top: 80%;
            left: 20vw;
        }
        &__button{
            position: relative;
        }
    }

}

@media (768px < width < 1024px) {
    .head{
        position: relative;
        &__button{
            position: absolute;
            top: 100px;
            left: 40%;
        }
        &__menu{
            margin-right: 10rem;
        }
    }

}

//, 768px - 1024px, > 1024px).