.welcome{
    &__title{
        font-size: 2rem;
    }
    &__text{
        font-size: 1.2rem;
    }
}

.services{
    &__title{
        font-size: 2rem;
    }    
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    &__item{
        width: 200px;
        height: 200px;
        text-align: center;
        border: 1px solid black;
        font-size: 1.5rem;
        margin: 1rem;
        padding: 1rem;
    }
} 

.testimonios{
    &__title{
        font-size: 2rem;
    }
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    &__item{
        width: 200px;
        height: 200px;
        text-align: center;
        border: 1px solid black;
        font-size: 1.5rem;
        margin: 1rem;
        padding: 1rem;
        overflow: hidden;
    }
    &__text{
        font-size: 1.2rem;
        height: 200px;
    }
}


    @media (width <= 520px) {
        .services{
            &__list{
                display: block;
            }
        }

        .testimonios{
            &__list{
                display: block;
            }
        }
    }
